<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New User Creator</ion-title>
    <ion-title *ngIf="!isNew">User Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="drink">

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>User Nickname:</ion-label>
        <ion-input type="text" [(ngModel)]="drink.nickname" name="nickname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>User Email:</ion-label>
        <ion-input type="text" [(ngModel)]="drink.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>User Password:</ion-label>
        <ion-input type="password" [(ngModel)]="drink.password" name="password" ></ion-input>
      </ion-item>

      <ion-button 
        [disabled]="!auth.can('get:barista')"
        (click)="deleteClicked()">Delete</ion-button><br />
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button 
        [disabled]="!auth.can('get:barista')"
        (click)="saveClicked()">Save</ion-button>

    </form>
</ion-content>